.git

node_modules
vendor
bun.lockb

tmp

.env
id_ecdsa
id_ecdsa.pub
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
secret.txt
ssl-cert-snakeoil.key
ssl-cert-snakeoil.pem

.env.example
index_bench.ts
index_test.ts
install.sh
setup.sh
fly.toml
